/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('banners.css');
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

p {
  color: grey;
  font-size: 16px;
  margin: 10px;
}

h2 {
  text-align: center;
}

h4 {
  color: grey;
  font-size: 22px;
  font-weight: 100;
}
/* Custom design below! */

